@charset "UTF-8";

/*
  * typography
*/    

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Teko:wght@300;400;500;600;700&display=swap');

/*
  * My config
*/

:root {
    --color05: #fdfcfc;
    --color04: #AD212A;
    --color03: #7c7c7c;
    --color02: #363535;
    --color01: #111111;

    --font1: 'Teko';
    --font2: 'Garamond'

}
/*
    Reset
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color05);
}


a {
    text-decoration: none;
    cursor: pointer;
    font-family: var(--font1);
}

ul {
    list-style: none;
}

button {
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: none;
}

strong {
    color: var(--color04);
    font-weight: 700;  
    font-size: 20px;  
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/*   NAVBAR HERO - TOGGLE
\*-------------------------------------------------------------------------------------------*/

.navbar-hero {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #242424da;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-size: 50px;
    backdrop-filter: blur(10px);
    left: 100%;
    z-index: 10;
    transition: 0.4s ease-in-out;
}

.navbar-hero li {
    padding: 5px;
}

.navbar-hero li:hover a{
    color: var(--color04);
    transition: 0.5s ease-out;   
}

.navbar-hero.active {
    left: 0;
}

.toggle-navbar-close.active {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: transparent;
    display: block;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
}



/*   HERO
\*-------------------------------------------------------------------------------------------*/

.hero {
    display: flex;
    justify-content: space-between;
    background: var(--color01) url(../images/bg-small.jpg) no-repeat center;
    background-size: cover;
    height: 90vh;
    z-index: 100;
}

.logo-hero {
    margin: 10px 0px 0px 10px;
}

.toggle-navbar {
    margin: 10px 10px 0px 0px;
    background-color: transparent;
    z-index: 9;
}

.toggle-navbar-close {
    display: none;
}

.toggle-navbar:hover {
    opacity: 0.8;
}

.toggle-navbar-close:hover {
    opacity: 0.8;
}

.menu-ico {
    font-size: 30px;
}

/*   HEADER
\*-------------------------------------------------------------------------------------------*/

.header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 90vh;
    width: 100%;
    text-align: center;   
}


.title-release {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: var(--font1);
}

.title-logo img {
    margin-bottom: -50px;
    width: 310px;
}

.release-platforms {
    display: flex;
    justify-content: center;
}

.release-platforms li img{
    width: 70px;
    padding: 5px;
}

.play-ico {
    display: inline-block;
    margin-right: 5px;
}

.header-trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid var(--color05);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-family: var(--font1);
    margin: 0px auto 30px auto;
    transition: 0.3s ease-in-out;
}

.header-trailer:hover {
    background: var(--color05);
    transform: scale(0.9);
}

.header-trailer:hover .play-ico {
    color: var(--color01);
}

.header-trailer:hover p {
    color: var(--color01);
}